@import url(./fonts.css);

/* Variables */
:root {
	/* --Primary: #e3e3e3;
	--Secondary: #1a1a1a; */

	--Primary: #1a1a1a;
	--Secondary: #e3e3e3;
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	overflow: hidden;
	text-align: center;
}

/* Form Styles */
.form-container {
	display: flex;
	justify-content: center;
}

.search-form {
	display: flex;
	align-items: center;
	max-width: 430px;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
}

.search-form-text {
	background-color: var(--Primary);
	border: 1px solid var(--Secondary);
	font-weight: 500;
	font-size: 1.5rem;
	width: 100%;
	color: var(--Secondary);
	height: 2.5rem;
	border-radius: 8px;
}

.search-form-text:focus {
	background-color: var(--Primary);
	outline: 1px solid var(--Secondary);
	font-weight: 500;
	outline: none;
	color: var(--Secondary);
	height: 2.5rem;
}

.search-form > input:focus-visible {
	outline: none;
}

.input-container {
	position: relative;
	display: inline-block;
	max-width: 430px;
}

.input-icon {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
}

.under-text {
	margin-top: 1px;
	text-align: left;
	align-self: baseline;
}

/* Box Styles */
.box {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	padding: 0 1rem;
	border-radius: 8px;
}

.box img {
	width: 100%;
	max-width: 300px;
	height: 150px;
	object-fit: cover;
}

.box h3 {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	overflow: hidden;
}

.box:hover {
	transform: scale(1.05);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Grid Styles */
.countrys-grid-container {
	display: grid;
	align-items: stretch;
	grid-auto-flow: row dense;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1em 1em;
}

/* Details Container */
.details-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.2s, box-shadow 0.2s;
	max-width: 400px;
	margin: 3rem auto;
}

.details-header-info-container {
	text-align: left;
	margin-bottom: 1rem;
}

.detailed-info-container {
	text-align: left;
}

.flag-image {
	width: 200px;
	height: auto;
	margin: 10px auto;
}

/* Footer Styles */
.footer {
	position: absolute;
	bottom: 60px;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 1rem 0;
	font-size: 0.9rem;
}

/* Media Queries */
@media screen and (max-width: 880px) {
	.search-form {
		flex-direction: column;
	}

	.countrys-grid-container {
		display: flex;
		align-items: stretch;
		flex-direction: column;
		gap: 10px;
	}

	.box img {
		max-width: 90%;
	}
}
