@import url(./fonts.css);

:root {
	/* Vars */
	--Primary: #e3e3e3;
	--Secondary: #1a1a1a;
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	overflow: hidden;
	text-align: center;
}

.form-container {
	display: flex;
	justify-content: center;
}

.box {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	padding: 0 1rem;
	border-radius: 8px;
}

.box img {
	width: 100%;
	max-width: 300px;

	height: 150px;
	object-fit: cover;
}

.box h3 {
	display: flex;
	align-items: center; /* Vertically centers the text within the fixed height */
	justify-content: center; /* Horizontally centers the text */
	height: 60px;
	overflow: hidden;
}

.box:hover {
	transform: scale(1.05); /* Slightly scale up */
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Add shadow */
}

.details-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	padding: 20px;

	border-radius: 8px; /* Rounded corners */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
	transition: transform 0.2s, box-shadow 0.2s; /* Smooth transition for hover effect */
	max-width: 400px; /* Optional: Set a max width for the card */
	margin: 3rem auto; /* Center the card if its parent is a block container */
}

.flag-image {
	width: 200px;
	height: auto;
	margin: 10px auto;
}

.countrys-grid-container {
	/* margin-top: 10px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px; */
	display: grid;
	align-items: stretch;
	grid-auto-flow: row dense;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1em 1em;
}

.countrys-grid-container > a:hover {
}

.country-search-button {
	background-color: var(--Primary);
}

.search-form {
	display: flex;
	align-items: center;
	max-width: 430px;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
}

.search-form-text {
	flex: 1 1 0;
	background-color: var(--Primary);
	border: 1px solid var(--Secondary);
	font-family: Lexend-Deca;
	font-weight: 500;
	font-size: 2rem;
	max-width: 80vw;
	color: var(--Secondary);
	height: 2.5rem;
	border-radius: 8px;
}
.search-form-text :focus {
	background-color: var(--Primary);
	border: 2px solid var(--Secondary);
	font-weight: 500;
	outline: none;
	color: var(--Secondary);
	height: 2.5rem;
}
.search-form > input :focus-visible {
	outline: none;
}
.input-container {
	position: relative;
	display: inline-block;
	max-width: 430px;
}

.under-text {
	margin-top: 1px;
	/* margin-left: 25px; */
	text-align: left;
	align-self: baseline;
}

.input-icon {
	position: absolute;
	top: 50%;
	right: 25px;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
}

@media screen and (max-width: 880px) {
	.search-form {
		flex-direction: column;
	}

	.countrys-grid-container {
		display: flex;
		align-items: stretch;
		flex-direction: column;
		gap: 10px;
	}

	.box img {
		max-width: 90%;
	}
}
