@font-face {
	font-family: Lexend-Zetta;
	src: url(./fonts/LexendZetta-VariableFont_wght.ttf) format("truetype");
}
@font-face {
	font-family: Lexend-Deca;
	src: url(./fonts/LexendDeca-VariableFont_wght.ttf) format("truetype");
}
